// line, text 그라데이션
.gradient-button {
  position: relative;
  border: 1px solid transparent;
  border-radius: 8px;
  background-image: linear-gradient(#1c1c22, #1c1c22), linear-gradient(45deg, #5097fa, #5363ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  padding: 0;
  color: transparent;

  &::before {
    content: attr(data-text);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 18px;
    background-image: linear-gradient(45deg, #5097fa, #5363ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media screen and  (max-width: 768px) { 
      font-size: 14px;
    }
  }

  &:hover {
    background-image: linear-gradient(#1c1c22, #1c1c22), linear-gradient(45deg, #353542, #353542);
    &::before {
      background-image: linear-gradient(#6e6e82, #6e6e82), linear-gradient(45deg, #6e6e82, #6e6e82);
    }
  }
}
