.content-full-height {
  min-height: calc(100vh - 50px);

    @media screen and  (min-width: 768px) { // md
    min-height: calc(100vh - 60px);
  }

    @media screen and  (min-width: 1024px) { // lg
    min-height: calc(100vh - 100px);
  }
}